<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Password Managment System</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/add_new_category">Add New Category</a></li>
                <li><a href="/passwordCategory">View All Categorys</a></li>
              </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/add_new_password">Add New Password</a></li>
                  <li><a href="/passwordDetails">View All Passwords</a></li>
                </ul>
              </li>
              <li><a href="/logout">Logout</a></li>
          </ul>
          <div class="navbar-header" style="float: right;"><a class="navbar-brand" href="#">Loggin As: <% if(loginUser!=""){%> <%= loginUser %> <% } %></a></div>
        </div>
      </nav>
    <div class="container">
        <div class="row">
          <h1>View All Password Lists</h1>
          <table class="table table-striped table-primary">
            <thead>
              <tr>
                <th>Password Category Name</th>
                <th>Password Details</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>Goo</td>
                  <td>http://sjhadhash.com</td>
                  <td>
                    <a class="btn btn-primary btn-xs" href="/edit/" ><i class="fa fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="/delete/" ><i class="fa fa-trash"></i></a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
